# Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp

# Datasets grandes ou repositórios clonados
datasets/mlflow/
datasets/scikit-learn/